<div class="container">
<p id="notice"><%= notice %></p>

  <%= link_to 'New Tweet', new_tweet_path , class:"newTweet" %>
  
      <h2>Tweet一覧</h2>
    

  
<% @tweets.each do |tweet| %>
   <div class="row">
     <hr color="black">
     <div class="col-md-4"><p><strong>内容:<%= tweet.content %></p></strong></div>
     <div class="col-md-4"><p> <%= link_to '編集', edit_tweet_path(tweet), class: 'btn btn-default btn-sm btn-success' %></p></div>
     <div class="col-md-4"><p> <%= link_to '消去', tweet_path(tweet), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></p> </div>
  </div>
 <% end %>
  

</div>