<div class="container">
<div class="show">

<h2>内容:<%= @tweet.content %></h2>
<p>
  <%= image_tag @tweet.image %>
</p>

<p><% unless @tweet.user == current_user %>
  <% if @favorite.present? %>
    <%= link_to 'お気に入り解除する', favorite_path(id: @favorite.id, tweet_id: @tweet.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'お気に入りする', favorites_path(tweet_id: @tweet.id), method: :post, class: 'btn btn-primary' %>
  <% end %>
<% end %></p>

<p><%= link_to '一覧画面へ', tweets_path, class: 'btn btn-default btn-sm btn-success' %></p>
</div>
</div>